<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="[%-5level] %d{yyyyMMdd-HHmmss} [%t] %M- %msg%n" />
		</Console>
		<RollingFile name="SeleniumRollingFile"
			fileName="/home/ila/git/testGitRepo/test/logs/selenium.log"
			filePattern="/home/ila/git/testGitRepo/test/logs/selenium-%d{yyyyMMddHHmmss}.log" append="false">
			<PatternLayout>
				<pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss} [%t] %M- %msg%n</pattern>
			</PatternLayout>
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="900 KB"/>
			</Policies>
			<DefaultRolloverStrategy max="10"/>
		</RollingFile>
		<RollingFile name="ManualRollingFile"
			fileName="/home/ila/git/testGitRepo/test/logs/manual.log"
			filePattern="/home/ila/git/testGitRepo/test/logs/manual-%d{yyyyMMddHHmmss}.log" append="false">
			<PatternLayout>
				<pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss} [%t] %M- %msg%n</pattern>
			</PatternLayout>
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="900 KB"/>
			</Policies>
			<DefaultRolloverStrategy max="10"/>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Logger name="consoleLogger" level="error" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Logger name="manualLogger" level="debug" additivity="false">
			<AppenderRef ref="ManualRollingFile" />
		</Logger>
		<Root level="debug">
			<AppenderRef ref="SeleniumRollingFile"/>
		</Root>
	</Loggers>
</Configuration>